* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

nav {
    /* height: 20px; */
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 0.5px solid rgb(126, 126, 126); */
    border-radius: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    ;
}

img {
    width: 100px;
    justify-content: space-around;
}

.menus {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;

}

.landing {
    width: 100%;
    display: flex;
    align-items: center;
}

.post-form {
    height: 100%;
    width: 350px;
    margin: 30px;
    padding: 20px;
    border-radius: 35px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.red-circle {
    background-color: red;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 3px;
    display: inline-block;
}

.yellow-circle {
    background-color: rgb(240, 205, 5);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 3px;
    display: inline-block;
}

.green-circle {
    background-color: rgb(4, 204, 4);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 3px;
    display: inline-block;
}

.line {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 0.5px;
    margin-top: 30px;
}

.form-container {
    margin-top: 50px;
    
}

label {
    display: block;
    margin-bottom: 10px;
    color: rgb(112, 112, 112);
    font-size: 14px;
}

input {
    display: block;
    margin-bottom: 20px;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-style: normal;
    outline: none;
}

input:focus {
    /* border: 1px solid grey; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.add-another-button {
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 20px;
}

.add-another button {
    cursor: pointer;
}

.add-another button:active {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.submit-button button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgb(129, 1, 248);
    cursor: pointer;
}