* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

nav {
    /* height: 20px; */
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 0.5px solid rgb(126, 126, 126); */
    border-radius: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    ;
}

img {
    width: 100px;
    justify-content: space-around;
}

.menus {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;

}

.landing {
    width: 100%;
    padding: 20px 50px 20px 50px;
    border: 0.5px solid black;
}

.profile {
    color: #545558;
    padding-bottom: 8px;
    border-bottom: 1px dashed #7e7e7e;
}

.sub-profile {
    color: #7e7e7e;
}

.profile-container {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.image-section {
    padding: 15px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: inline-block;
    text-align: center;

}

.image-section h2 {
    color: #5f5f5f;
}

.image-section p {
    color: rgb(53, 255, 35);
}

.image-section img {
    margin: 15px 20px 15px 20px;
    height: 350px;
    width: 350px;
    object-fit: cover;
    border: 20px solid grey;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bio-section {
    width: 100%;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.bio-section-header {
    display: flex;
    justify-content: space-between;
}

.bio-section-header h4 {
    color: rgb(70, 70, 70);
}

.glowing-dot {
    width: 10px;
    height: 10px;
    background-color: rgb(53, 255, 35);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(53, 255, 35), 
                0 0 20px rgb(53, 255, 35), 
                0 0 30px rgb(53, 255, 35);
}

.title {
    color: #444649;
}

.subtitle {
    color: grey;
    font-weight: 100;
    font-size: 12px;
}

.other-details {
    display: flex;
}

.left-div {
    padding: 30px 0px 30px 20px;
    width: 50%;
}

.right-div {
    padding: 30px 30px 30px 0px;
    width: 50%;
}

.details {
    padding-bottom: 8px;
    margin-bottom: 20px;
    line-height: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.social-media {
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color: rgba(70, 70, 70, 70);
}

.social-media-links {
    padding: 20px 0 10px 15px;
}

.social-media-links img {
    margin-right: 10px;
    width: 40px;
    height: 40px;   
    padding: 5px;
    border: 0.2px solid rgb(197, 196, 196);
    border-radius: 50%;
    object-fit: contain;
    background-color: #fff;
}